.product-details-wrapper
  display: flex
  margin-top: 50px
  .product-images-wrapper, .product-content-wrapper
    padding: 0 10px
    flex-basis: 50%
    box-sizing: border-box

  .product-images-wrapper
    padding: 0 10px
    .product-thumbnail-images
      display: flex
      overflow: auto
      position: relative
      margin-top: 10px
      .thumbnail
        width: 20%
        padding-right: 5px

  .product-content-wrapper
    .product-content-header
      .product-title
        font-size: 30px
        font-weight: 500
        margin: 0 0 10px 0
        span
          margin-bottom: 10px
      .product-interactions
        .product-comment-count
          color: $theme-blue
          .product-overall
            color: $theme-yellow
            margin-right: 5px
    .product-min-max-infos
      p
        color: $theme-gray
        &.price-per-piece
          margin-bottom: 0
        &.min-quantity
          margin-top: 5px
        span
          color: black
          font-size: 25px
          font-weight: 600


@media screen and (max-width: $width-small-max)
  .product-details-wrapper
    flex-direction: column
    .product-content-header
      margin-top: 15px